---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me">
  <main
    class="flex flex-col justify-center items-start flex-1 dark:text-white text-l text-black"
  >
    <div class="">
      <p class="mt-32">
        I am an experienced senior front-end developer with 8 years of expertise
        in the field, ranging from jQuery to Backbone.js, React, and Vue. My
        journey has taken me through various tools and frameworks, from gulp.js
        to webpack to vite, and from jQuery-UI to Bootstrap, Ant Design, and
        Tailwind CSS.
      </p>

      <p class="mt-3">
        I've explored different technologies, from working with canvas to
        Three.js and WebGL, and from building blogs with Jekyll, GitHub Pages,
        to Astro. My version control proficiency extends from SVN to Mercurial
        SCM to Git.
      </p>
      <p class="mt-3">
        My projects have spanned across platforms, transitioning seamlessly from
        PC websites to mobile websites, <a
          href="https://developers.weixin.qq.com/miniprogram/en/dev/framework/"
          >mini-programs</a
        >, and hybrid development. Over the years, my coding proficiency hai
        evolved from JavaScript to embracing *anyscripting* language to now
        specializing in TypeScript. Sometimes, I write some tools using GO
      </p>
      <p class="mt-3">
        In terms of development environments, I've adapted from WebStorm to Vim
        and even found myself using WebStorm with Vim at times (quite the
        journey, right?).
      </p>
      <p class="mt-3">
        Throughout my career, I've continuously sought opportunities for growth
        and innovation. I'm driven by the prospect of creating solutions that
        bring joy and efficiency to people's lives.
      </p>
      <p class="mt-3">
        In my ideal work environment, I value friendliness, responsibility, open
        communication, and efficiency. I acknowledge this might sound
        idealistic.
      </p>
      <p class="mt-3">
        I pride myself on efficiency at work, which I attribute to my ability to
        pinpoint core issues and my knack for finding solutions, whether by
        accessing the right resources or finding alternative approaches when
        faced with challenges beyond immediate resolution.
      </p>
    </div>
    <p class="mt-9">中文</p>
    <p class="mt-9">
      我是一名经验丰富的资深前端开发人员，在这个领域有着 8
      年的专业知识，涵盖了从 jQuery 到 Backbone.js、React 和 Vue
      等技术。我的职业生涯带领我熟练地使用了各种工具和框架，从 gulp.js 到
      webpack，再到 vite；从 jQuery-UI 到 Bootstrap、Ant Design 和 Tailwind CSS
      等。从 JavaScript 到 TypeScript。另外我还会写一点 GO
    </p>
    <p class="mt-3">
      我探索了不同的技术，涉及从使用 Canvas 到 Three.js 和 WebGL，以及从使用
      Jekyll、GitHub Pages 到 Astro 构建博客等方面。我使用过的版本控制工具从 SVN
      到 Mercurial SCM 再到 Git。
    </p>
    <p class="mt-3">
      我的项目跨越了不同的平台，无缝地从 PC
      网站过渡到移动网站、小程序和混合开发。
    </p>
    <p class="mt-3 pb-32">
      在整个职业生涯中，我不断追求成长和创新的机会。我被「创造可以为人们的生活带来快乐和效率的解决方案」所驱动。
      在我理想的工作环境中，我重视友好、责任、开放的沟通和高效，尽管我承认这可能听起来有点理想化。
      我以工作效率为荣，这归功于我发现核心问题的能力和解决问题的技巧，无论是通过获取正确的资源还是在面临无法立即解决的挑战时寻找替代方案。
    </p>

    <div class="w-96 dark:text-slate-300"></div>
  </main>
</Layout>
