---
import MDX from "../components/MDX.mdx";
import FancyLink from "../components/Link.astro";
import ReactJSX from "../components/ReactJSX.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <ReactJSX />
  <div
    class="prose dark:prose-invert prose-slate flex items-center flex-col w-full"
  >
    <MDX components={{ a: FancyLink }} />
  </div>
</Layout>
<!--<MDX components={{a: FancyLink}}/>-->
