---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex flex-col justify-center items-center h-screen">
    <div class="justify-center items-center dark:text-slate-400">
      Hi, my name is stephen
    </div>
    <div class="w-96 dark:text-slate-300">
      donec urna simul magnis leo ad aptent moderatius porttitor posse habemus
      hinc constituam nulla qualisque imperdiet delectus autem neglegentur
      alienum aptent ancillae sagittis varius efficiantur legere sonet fermentum
      partiendo sem usu leo recteque magnis maluisset porttitor egestas nec
      scelerisque dicunt adip
    </div>
  </main>
</Layout>

<!--<style>-->
<!--	main {-->
<!--		margin: auto;-->
<!--		padding: 1rem;-->
<!--		width: 800px;-->
<!--		max-width: calc(100% - 2rem);-->
<!--		color: white;-->
<!--		font-size: 20px;-->
<!--		line-height: 1.6;-->
<!--	}-->
<!--	h1 {-->
<!--		font-size: 4rem;-->
<!--		font-weight: 700;-->
<!--		line-height: 1;-->
<!--		text-align: center;-->
<!--		margin-bottom: 1em;-->
<!--		color: var(&#45;&#45;color-second);-->
<!--	}-->
<!--</style>-->
