---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header/Header";
import SparkleButton from "../components/SparkleButton/SparkleButton";
import Pixelate from "../components/Pixelate/Pixelate";
import img from "./WechatIMG299.jpg";
---

<Layout title="neewbee's blog">
  <Header />
  <div class="absolute top-10 right-10"></div>
  <!--<SparkleButton client:only="react" />-->
  <Pixelate
    style={{ margin: "100px auto" }}
    client:only="react"
    width="200"
    height="200"
    src={img.src}
  />
  <main class="flex flex-col justify-center items-center flex-1">
    <div
      class="justify-center items-center dark:text-white font-semibold text-xl text-black"
    >
      Hi, my name is stephen
    </div>
    <div class="w-96 dark:text-slate-300"></div>
  </main>
</Layout>

<!--<style>-->
<!--	main {-->
<!--		margin: auto;-->
<!--		padding: 1rem;-->
<!--		width: 800px;-->
<!--		max-width: calc(100% - 2rem);-->
<!--		color: white;-->
<!--		font-size: 20px;-->
<!--		line-height: 1.6;-->
<!--	}-->
<!--	h1 {-->
<!--		font-size: 4rem;-->
<!--		font-weight: 700;-->
<!--		line-height: 1;-->
<!--		text-align: center;-->
<!--		margin-bottom: 1em;-->
<!--		color: var(&#45;&#45;color-second);-->
<!--	}-->
<!--</style>-->
