---
import { getCollection, getEntries } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const blogEntries = await getCollection("experiments");
---

<Layout>
  <div class="flex items-start flex-col">
    {blogEntries.map((p) => <a href={`/blog/${p.slug}`}>{p.data.title}</a>)}
  </div>
</Layout>
